# local env files
.env*.local
.env
/env

.__pycache__
.__pycache__*
./__pycache__
/__pycache__

data.csv
.vercel
downloads/AMZNUKGBP50GB.jpg
downloads/AMZNUSD10US.jpg
downloads/AMZNUSD15US.jpg
downloads/AMZNUSD25US.jpg
downloads/AMZNUSD50US.jpg
downloads/AMZNUSD100US.jpg
downloads/APLEMC3MTHMBSHPUS.jpg
downloads/APLEMC12MTHMBSHPUS.jpg
downloads/APLID.jpg
downloads/ASIA1000.jpg
downloads/ASIA2000.jpg
downloads/ASIA3000.jpg
downloads/ASIA5000.jpg
downloads/ASIA10000.jpg
downloads/ASIA15000.jpg
downloads/ASIA25000.jpg
downloads/ASIA40000.jpg
downloads/ASIA50000.jpg
downloads/ASIA100000.jpg
downloads/BLTV1MTHSBRPNLVT.jpg
downloads/CREMIQD10000.jpg
downloads/CREMIQD25000.jpg
downloads/CREMIQD50000.jpg
downloads/CREMIQD100000.jpg
downloads/CRM5000IQD.jpg
downloads/CRM10000IQD.jpg
downloads/CRM25000IQD.jpg
downloads/CRM50000IQD.jpg
downloads/CRM100000IQD.jpg
downloads/EBY10USDGLBLS.jpg
downloads/EBY25USDGLBLS.jpg
downloads/EBY50USDGLBLS.jpg
downloads/ECMRC12.5$.jpg
downloads/FastLink15000IQD.jpg
downloads/FastLink39000IQD.jpg
downloads/FastLink69000IQD.jpg
downloads/FRFIR110DMND.jpg
downloads/FRFIR110DMNDS.jpg
downloads/FRFIR231DMND.jpg
downloads/FRFIR231DMNDS.jpg
downloads/FRFIR583DMND.jpg
downloads/FRFIR583DMNDS.jpg
downloads/FRFIR1188DMND.jpg
downloads/FRFIR1188DMNDS.jpg
downloads/FRFIR24200DMND.jpg
downloads/FRFIR24200DMNDS.jpg
downloads/FTTH39000S.jpg
downloads/FTTH59000S.jpg
downloads/GGLPLYUKGBP10GB.jpg
downloads/GGLPLYUKGBP25GB.jpg
downloads/GGLPLYUKGBP50GB.jpg
downloads/GGLPLYUSD5US.jpg
downloads/GGLPLYUSD10US.jpg
downloads/GGLPLYUSD15US.jpg
downloads/GGLPLYUSD25US.jpg
downloads/GGLPLYUSD50US.jpg
downloads/GGLPLYUSUSD5US.jpg
downloads/GGLPLYUSUSD10US.jpg
downloads/GGLPLYUSUSD15US.jpg
downloads/GGLPLYUSUSD25US.jpg
downloads/GGLPLYUSUSD50US.jpg
downloads/GMLID.jpg
downloads/IMVUSD25INT.jpg
downloads/IMVUSD50INT.jpg
downloads/IRQCL5000IQD.jpg
downloads/IRQCL5000IQDS.jpg
downloads/IRQCL10000IQD.jpg
downloads/IRQCL15000IQD.jpg
downloads/IRQCL25000IQD.jpg
downloads/ITNSUKGBP10GB.jpg
downloads/ITNSUKGBP25GB.jpg
downloads/ITNSUKGBP50GB.jpg
downloads/ITNSUKGBP100GB.jpg
downloads/ITNSUSUSD2.jpg
downloads/ITNSUSUSD2US.jpg
downloads/ITNSUSUSD3.jpg
downloads/ITNSUSUSD3US.jpg
downloads/ITNSUSUSD4.jpg
downloads/ITNSUSUSD4US.jpg
downloads/ITNSUSUSD5.jpg
downloads/ITNSUSUSD5US.jpg
downloads/ITNSUSUSD10.jpg
downloads/ITNSUSUSD10US.jpg
downloads/ITNSUSUSD15.jpg
downloads/ITNSUSUSD15US.jpg
downloads/ITNSUSUSD20.jpg
downloads/ITNSUSUSD20US.jpg
downloads/ITNSUSUSD25US.jpg
downloads/ITNSUSUSD30.jpg
downloads/ITNSUSUSD30US.jpg
downloads/ITNSUSUSD50.jpg
downloads/ITNSUSUSD50US.jpg
downloads/ITNSUSUSD100.jpg
downloads/ITNSUSUSD100US.jpg
downloads/ITNSUSUSD200.jpg
downloads/ITNSUSUSD200US.jpg
downloads/ITNSUSUSD300US.jpg
downloads/ITNSUSUSD400US.jpg
downloads/ITNSUSUSD500US.jpg
downloads/Jawaker4250Token.jpg
downloads/Jawaker32500Token.jpg
downloads/Jawaker70000Token.jpg
downloads/KOREK1000.jpg
downloads/KOREK2000.jpg
downloads/KOREK3000.jpg
downloads/KOREK4000.jpg
downloads/KOREK5000.jpg
downloads/KOREK10000.jpg
downloads/KOREK15000.jpg
downloads/KOREK30000.jpg
downloads/KOREK60000.jpg
downloads/KRKPRPD1000IQD.jpg
downloads/KRKPRPD2000IQD.jpg
downloads/KRKPRPD3000IQD.jpg
downloads/KRKPRPD4000IQD.jpg
downloads/KRKPRPD5000IQD.jpg
downloads/KRKPRPD10000IQD.jpg
downloads/KRKPRPD15000IQD.jpg
downloads/KRKPRPD30000IQD.jpg
downloads/KRKPRPD60000IQD.jpg
downloads/LEGLGNDEUEUR10EU.jpg
downloads/LEGLGNDEUEUR20EU.jpg
downloads/LIKEE10USD.jpg
downloads/LUDODIAMOND5.200S.jpg
downloads/LUDODIAMOND13.000S.jpg
downloads/LUDODIAMOND27.800S.jpg
downloads/LUDODIAMOND56.000S.jpg
downloads/LUDODIAMOND168.000S.jpg
downloads/LUDOGOLD1.480.000S.jpg
downloads/LUDOGOLD3.700.000S.jpg
downloads/LUDOGOLD10.030.000S.jpg
downloads/LUDOGOLD25.300.000S.jpg
downloads/LUDOGOLD76.000.000S.jpg
downloads/MBLGND56DMNDS.jpg
downloads/MBLGND278DMNDS.jpg
downloads/MBLGND1167DMNDS.jpg
downloads/MBLGND1783DMNDS.jpg
downloads/MBLGND4770DMNDS.jpg
downloads/MBLGNDSTRLTMBSHPLS.jpg
downloads/MCECOM10USD.jpg
downloads/MCECOM25USD.jpg
downloads/MCECOM100USD.jpg
downloads/MCECOM300USD.jpg
downloads/MCECOMMERCEUSD10.jpg
downloads/MCECOMMERCEUSD25.jpg
downloads/MCECOMMERCEUSD50.jpg
downloads/MCECOMMERCEUSD100.jpg
downloads/MCECOMMERCEUSD300.jpg
downloads/MCFEANVRS1USR.jpg
downloads/MCFEINTSCRY1DVC.jpg
downloads/MCFEINTSCRY3DVC.jpg
downloads/MCFEINTSCRY10DVC.jpg
downloads/MCFETTLPRTCN5DVC.jpg
downloads/MCFETTLPRTCN10DVC.jpg
downloads/MISWAG1MIQD.jpg
downloads/MISWAG25000IQD.jpg
downloads/MISWAG50000IQD.jpg
downloads/MISWAG100000IQD.jpg
downloads/MISWAG250000IQD.jpg
downloads/MISWAG500000IQD.jpg
downloads/MNCRFT.jpg
downloads/MNCRFT1720MNCNS.jpg
downloads/MNCRFT3500MNCNS.jpg
downloads/Newroz4G10000IQD.jpg
downloads/Newroz4G25000IQD.jpg
downloads/NintendoUS10.jpg
downloads/NintendoUS20.jpg
downloads/NintendoUS50.jpg
downloads/NTDOUSESPUSD10US.jpg
downloads/NTDOUSESPUSD20US.jpg
downloads/NTDOUSESPUSD35US.jpg
downloads/NTDOUSESPUSD50US.jpg
downloads/NTFLX15USAS.jpg
downloads/NTFLX25USAS.jpg
downloads/NTFLX50USAS.jpg
downloads/NTFLX100USAS.jpg
downloads/OMNNEA5USD.jpg
downloads/OMNNEA5USDS.jpg
downloads/OMNNEA10.jpg
downloads/OMNNEA10S.jpg
downloads/OMNNEA3000IQD.jpg
downloads/PBG60UC.jpg
downloads/PBG300+25UC.jpg
downloads/PBG1500+300UC.jpg
downloads/PBG1800UC.jpg
downloads/PBG8100UC.jpg
downloads/PLSTNTRKUK3MNTMBRGB.jpg
downloads/PLYSTN3MNTMBRUS.jpg
downloads/PLYSTN12MNTMBRUS.jpg
downloads/PLYSTNNTRK3MNTH.jpg
downloads/PLYSTNNTRK12MNTH.jpg
downloads/PLYSTNNTRKUAE1MNTAE.jpg
downloads/PLYSTNNTRKUAE3MNTAE.jpg
downloads/PLYSTNNTRKUAEUSD10AE.jpg
downloads/PLYSTNNTRKUAEUSD20AE.jpg
downloads/PLYSTNNTRKUAEUSD50AE.jpg
downloads/PLYSTNNTRKUSD10US.jpg
downloads/PLYSTNNTRKUSD20US.jpg
downloads/PLYSTNNTRKUSD25US.jpg
downloads/PLYSTNNTRKUSD50US.jpg
downloads/PLYSTNNTRKUSD60US.jpg
downloads/PLYSTNNTRKUSD75US.jpg
downloads/PLYSTNNTRKUSD100US.jpg
downloads/PLYSTNTWRKUKGBP20GB.jpg
downloads/PLYSTNUSD20US.jpg
downloads/PLYSTNUSD50US.jpg
downloads/PUBG60UC.jpg
downloads/PUBG190UC.jpg
downloads/PUBG300+25UC.jpg
downloads/PUBG600+60UC.jpg
downloads/PUBG1500+300UC.jpg
downloads/PUBG3000+850UC.jpg
downloads/PUBG8100UC.jpg
downloads/PUBG16200UC.jpg
downloads/PUBG16200UCS.jpg
downloads/RBXUSD10GLBL.jpg
downloads/RBXUSD10GLBLS.jpg
downloads/RBXUSD25GLBL.jpg
downloads/RBXUSD25GLBLS.jpg
downloads/RZRGDPNSUSD5INT.jpg
downloads/RZRGDPNSUSD10INT.jpg
downloads/RZRGDPNSUSD20INT.jpg
downloads/RZRGDPNSUSD50INT.jpg
downloads/RZRGDPNSUSD100INT.jpg
downloads/RZRGDPSUSD5INT.jpg
downloads/RZRGDPSUSD10INT.jpg
downloads/RZRGDPSUSD20INT.jpg
downloads/RZRGDPSUSD50INT.jpg
downloads/RZRGDPSUSD100INT.jpg
downloads/SHDVIP3MNS.jpg
downloads/SHDVIP3MNSS.jpg
downloads/SHDVIP12MNS.jpg
downloads/SHDVIP12MNSS.jpg
downloads/SPTFYUSUSD10US.jpg
downloads/SPTFYUSUSD30US.jpg
downloads/SPTFYUSUSD60US.jpg
downloads/STEAMUS100S.jpg
downloads/STEMAED50INT.jpg
downloads/STEMSAR20INT.jpg
downloads/STEMSAR40INT.jpg
downloads/STEMSAR100INT.jpg
downloads/STMKWD5INT.jpg
downloads/STMKWD10INT.jpg
downloads/STMKWD15INT.jpg
downloads/STMSAR20INT.jpg
downloads/STMSAR40INT.jpg
downloads/STMSAR100INT.jpg
downloads/SUPER35MBPSS.jpg
downloads/SUPER60MBPSS.jpg
downloads/SUPER100MBPSS.jpg
downloads/VISAECOMMERCEUSD10.jpg
downloads/VISAECOMMERCEUSD25.jpg
downloads/VISAECOMMERCEUSD50.jpg
downloads/VISAECOMMERCEUSD100.jpg
downloads/VISAECOMMERCEUSD300.jpg
downloads/XBX1MNTHMBRSHPUS.jpg
downloads/XBX3MNTHMBRSHPUS.jpg
downloads/XBX12MNTHMBRSHPUS.jpg
downloads/XBXUS1MNTHMBRUS.jpg
downloads/XBXUS3MNTHMBRUS.jpg
downloads/XBXUS12MNTHMBRUS.jpg
downloads/XBXUS25USD.jpg
downloads/XBXUS50USD.jpg
downloads/XBXUSD5US.jpg
downloads/XBXUSD10US.jpg
downloads/XBXUSD15US.jpg
downloads/XBXUSD25US.jpg
downloads/XBXUSD50US.jpg
downloads/XBXUSUSD15US.jpg
downloads/ZinBikafi6000IQD.jpg
downloads/ZinBikafi6000IQDS.jpg
downloads/ZNPRPD4GB.jpg
downloads/ZNPRPD5GB.jpg
downloads/ZNPRPD5GBS.jpg
downloads/ZNPRPD10GB.jpg
downloads/ZNPRPD10GBS.jpg
downloads/ZNPRPD500IQDS.jpg
downloads/ZNPRPD1000IQDS.jpg
downloads/ZNPRPD2000IQDS.jpg
downloads/ZNPRPD3000IQD.jpg
downloads/ZNPRPD3000IQDS.jpg
downloads/ZNPRPD5000IQDS.jpg
downloads/ZNPRPD6000IQD.jpg
downloads/ZNPRPD6000IQDS.jpg
downloads/ZNPRPD10000IQDS.jpg
downloads/ZNPRPD15000IQDS.jpg
downloads/ZNPRPD18000IQD.jpg
downloads/ZNPRPD18000IQDS.jpg
downloads/ZNPRPD25000IQDS.jpg
downloads/ZNPRPD30000IQDS.jpg
downloads/ZNPRPD35000IQDS.jpg
downloads/ZNPRPD40000IQD.jpg
downloads/ZNPRPD40000IQDS.jpg
downloads/ZNPRPD50000IQD.jpg
downloads/ZNPRPD50000IQDS.jpg
downloads/ZNPRPD100000IQD.jpg
downloads/ZNPRPD100000IQDS.jpg
downloads/ZNPRPDSPCARD12S.jpg
downloads/ZNPRPDSPCARD25.jpg
downloads/ZNPRPDSPCARD25S.jpg
downloads/ZNPRPDSPCARD35.jpg
downloads/ZNPRPDSPCARD35S.jpg
downloads/ZNPRPDSPCARD50S.jpg
